header {
  height: 50vh;
  padding-top: 5rem;
  /* overflow: hidden; */
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* Call to Action */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* SOCIALS */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  /* bottom: 3rem; */
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* IMAGE */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
#hero-image {
  border-radius: 12rem;
  border: 5px solid var(--color-primary);
  width: 24rem;
  height: auto;
  overflow: hidden;
}

/* SCROLL */

.scroll__down {
  position: absolute;
  right: -2.3rem;
  /* bottom: 5rem; */
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* TABLETS (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* PHONES (SMALL DEVICES) */

@media screen and (max-width: 600px) {
  header {
    height: 50vh;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .header__socials,
  .scroll__down,
  .hero {
    display: none;
  }
}
